<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <groups>
        <run>
            <include name="Regression"></include>
        </run>
    </groups>
    <test name="hhhh" >
        <classes>
            <class name="JuiceTest" />
        </classes>
    </test>


</suite>
